<!DOCTYPE html>
<html lang="en">

<head>
    <title>Žygimantas Matonis - CV</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1" />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
    <link rel="stylesheet" href="./node_modules/angular-material/angular-material.css" />
    <link rel="stylesheet" href="assets/app.css" />
    <!-- google icons  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body ng-app="starterApp" layout="column" ng-controller="UserController as ul">
    <md-toolbar layout="row" style="min-height: 64px;">
        <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h3>CV of Žygimantas Matonis</h3>
    </md-toolbar>
    <div flex layout="row">
        <md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" ng-click="ul.toggleList()" class="md-whiteframe-4dp">
            <md-list>
                <md-list-item ng-repeat="u in ul.users">
                    <md-button layout-fill style="text-align:left" ng-click="ul.selectUser(u)" href="#{{u.view}}" ng-class="{'selected' : u === ul.selected }">
                        <md-icon style="color:rgb(63,81,181);font:bold;" md-svg-icon="{{u.avatar}}" class="avatar "></md-icon>
                        <b>{{u.name}}</b>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-sidenav>
        <md-content flex id="content" style="overflow: scroll;">
            <!-- content from ng view -->
            <div ng-view></div>
        </md-content>
    </div>
    <script src="./node_modules/angular/angular.js"></script>
    <script src="./node_modules/angular-animate/angular-animate.js"></script>
    <script src="./node_modules/angular-aria/angular-aria.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
    <script type="text/javascript" src="../node_modules/angular-material/angular-material.js"></script>
    <script src="./src/users/Users.js"></script>
    <script src="./src/users/UserController.js"></script>
    <script src="./src/users/UserService.js"></script>
    <!-- Include YT library and this directive -->
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="./node_modules/angular-youtube-embed/dist/angular-youtube-embed.min.js"></script>
    <!-- starterApp logic -->
    <script type="text/javascript">
    angular
        .module('starterApp', ['ngMaterial', 'ngRoute', 'users', 'youtube-embed'])
        .config(function($mdThemingProvider, $mdIconProvider, $routeProvider, $mdThemingProvider) {

            $mdThemingProvider.theme('default')
                .primaryPalette('indigo');
            // .accentPalette('red');

            $mdIconProvider
                .defaultIconSet("./assets/svg/avatars.svg", 128)
                .icon("menu", "./assets/svg/menu.svg", 24)
                .icon("share", "./assets/svg/share.svg", 24)
                .icon("google_plus", "./assets/svg/google_plus.svg", 512)
                .icon("hangouts", "./assets/svg/hangouts.svg", 512)
                .icon("twitter", "./assets/svg/twitter.svg", 512)
                .icon("phone", "./assets/svg/phone.svg", 512)

            .icon("personal", "./assets/svg/ic_person_pin_black_48px.svg", 128)
                .icon("work", "./assets/svg/ic_account_balance_black_48px.svg", 128)
                .icon("portfolio", "./assets/svg/ic_work_black_48px.svg", 128)
                .icon("github", "./assets/svg/Octicons-mark-github.svg", 1024);

            $mdThemingProvider.theme('dark-orange').backgroundPalette('orange').dark();
            $mdThemingProvider.theme('dark-grey').backgroundPalette('grey').dark();
            $mdThemingProvider.theme('dark-purple').backgroundPalette('deep-purple').dark();
            $mdThemingProvider.theme('dark-blue').backgroundPalette('blue').dark();

            $routeProvider
                .when("/", {
                    templateUrl: "src/pages/tp1.html",
                    controller: 'personal'
                })
                .when("/tp2", {
                    templateUrl: "src/pages/tp2.html",
                    controller: 'experience'
                })
                .when("/tp3", {
                    templateUrl: "src/pages/tp3.html",
                    controller: 'portfolio'
                })
                .when("/tp4", {
                    templateUrl: "src/pages/tp4.html",
                    controller: 'motivation'
                });
        })

    //TODO: needs to be exported
    .controller('portfolio', function($scope) {


        $scope.works = [{
            video: 'NI5HZ52f9LM',
            title: 'POV-Ray animation',
            content: 'blabla sssa',
            github_link: 'https://github.com/gudrutis/MazeAnimationOnPovRay/tree/master/scene',
        }, {
            video: 'm9ubrVDgltU',
            title: 'nCursian - a simple terminal game',
            content: 'blabla bla blabla bla blablsss la blabla bla blabla bla',
            // github_link:'https://github.com/gudrutis/MazeAnimationOnPovRay',
        }, {
            video: 'NI5HZ52f9LM',
            title: 'POV-Ray animation',
            content: 'bfffff f fff fff f f ff f ',
            github_link: '',
        }, {
            title: 'This CV',
            content: 'created using AngularJS and Angular Material',
        }];
    })

    //TODO: needs to be exported
    .controller('experience', function($scope) {


        $scope.jobs = [{
            title: 'Sani Resort',
            content: 'blabla sssa',
            github_link: 'https://github.com/gudrutis/MazeAnimationOnPovRay/tree/master/scene',
        }, {
            title: 'BTCL',
            content: 'blabla bla blabla bla blablsss la blabla bla blabla bla',
            // github_link:'https://github.com/gudrutis/MazeAnimationOnPovRay',
        }, {
            title: 'CERN',
            content: 'bfffff f fff fff f f ff f ',
            github_link: '',
        }];
    })

    //TODO: needs to be exported
    .controller('personal', function($scope) {
        $scope.person_info = {
            Name: 'Žygimantas',
            Surname: 'Matonis',
            'Birth date': 'October 20, 1993',
            Sex: 'Male',
            Address: 'Vilnius, Lithuania',
            Phone: '+37062420749',
            'E-mail': 'mr.matonis(eta)gmail.com',
            'Level of education': 'Higher education in acquisition',
            'Current job status': 'Studying',

        };
        $scope.contacts = {
            Github: 'https://github.com/gudrutis/',
            LinkedIn: 'https://lt.linkedin.com/in/žygimantas-matonis-244b29109',
        };

        $scope.higher_education = {
            University:'Vilnius University',
            Faculty:'Faculty of Mathematics and Informatics',
            Degree:'Bachelor',
            Major:'Information Technologies',
            'Period of studies':' September 1, 2013 - January 31, 2017',
            Description:'This study program follows best practices of western universities and is practice-oriented',
        };
    })

    //TODO: needs to be exported
    .controller('motivation', function($scope) {

        $scope.reasons = [{
            title: 'about to finish',
            label: 'one',
            content: 'blabla sssa sfd sdfk sdf sdfkj sflkjds ',
        }, {
            title: 'ex. summer student',
            label: 'two',
            content: 'blabla bla blabla bla blablsss la blabla bla blabla bla',
        }, {
            title: 'have time to prepare',
            label: 'three',
            content: 'bfffff f fff fff f f ff f ',
        }, {
            title: ' learn fast',
            label: 'four',
            content: 'CV as an example ',
        }];
    });
    </script>
</body>

</html>
