<!DOCTYPE html>
<html lang="en">

<head>
    <title>Angular Material - Starter App</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1" />
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
    <link rel="stylesheet" href="./node_modules/angular-material/angular-material.css" />
    <link rel="stylesheet" href="assets/app.css" />
    <!-- google icons  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>

<body ng-app="starterApp" layout="column" ng-controller="UserController as ul">
    <md-toolbar layout="row" style="min-height: 64px;">
        <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h3>Angular Material - Starter App</h3>
    </md-toolbar>
    <div flex layout="row">
        <md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" ng-click="ul.toggleList()" class="md-whiteframe-4dp">
            <md-list>
                <md-list-item ng-repeat="u in ul.users">
                    <md-button layout-fill style="text-align:left" ng-click="ul.selectUser(u)" href="#{{u.view}}" ng-class="{'selected' : u === ul.selected }">
                        <md-icon style="color:red;font:bold;"  md-svg-icon="{{u.avatar}}" class="avatar "></md-icon>
                        {{u.name}}
                    </md-button>
                </md-list-item>
            </md-list>
        </md-sidenav>
        <md-content flex id="content" style="overflow: scroll;" >

        <!-- content from ng view -->
            <div ng-view></div>

        </md-content>
    </div>
    <script src="./node_modules/angular/angular.js"></script>
    <script src="./node_modules/angular-animate/angular-animate.js"></script>
    <script src="./node_modules/angular-aria/angular-aria.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
    <script type="text/javascript" src="../node_modules/angular-material/angular-material.js"></script>
    <script src="./src/users/Users.js"></script>
    <script src="./src/users/UserController.js"></script>
    <script src="./src/users/UserService.js"></script>
    <script type="text/javascript">
    angular
        .module('starterApp', ['ngMaterial', 'ngRoute', 'users'])
        .config(function($mdThemingProvider, $mdIconProvider, $routeProvider, $mdThemingProvider) {

            $mdThemingProvider.theme('default')
                .primaryPalette('brown')
                .accentPalette('red');

            $mdIconProvider
                .defaultIconSet("./assets/svg/avatars.svg", 128)
                .icon("menu", "./assets/svg/menu.svg", 24)
                .icon("share", "./assets/svg/share.svg", 24)
                .icon("google_plus", "./assets/svg/google_plus.svg", 512)
                .icon("hangouts", "./assets/svg/hangouts.svg", 512)
                .icon("twitter", "./assets/svg/twitter.svg", 512)
                .icon("phone", "./assets/svg/phone.svg", 512)

                .icon("personal", "./assets/svg/ic_person_pin_black_48px.svg", 128)
                .icon("work", "./assets/svg/ic_account_balance_black_48px.svg", 128)
                .icon("portfolio", "./assets/svg/ic_work_black_48px.svg", 128);

            $mdThemingProvider.theme('dark-orange').backgroundPalette('orange').dark();
            $mdThemingProvider.theme('dark-grey').backgroundPalette('grey').dark();
            $mdThemingProvider.theme('dark-purple').backgroundPalette('deep-purple').dark();
            $mdThemingProvider.theme('dark-blue').backgroundPalette('blue').dark();

            $routeProvider
                .when("/", {
                    templateUrl: "src/pages/tp1.html",
                    // controller: 'ViewStudentsController'
                })
                .when("/tp2", {
                    templateUrl: "src/pages/tp2.html"
                })
                .when("/tp3", {
                    templateUrl: "src/pages/tp3.html"
                })
                .when("/tp4", {
                    templateUrl: "src/pages/tp4.html"
                });
        });
    </script>
</body>

</html>
