<!DOCTYPE html>
<html lang="en">

<head>
    <title>Žygimantas Matonis - CV</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1" />
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,700'>
    <link rel="stylesheet" href="./node_modules/angular-material/angular-material.css" />
    <link rel="stylesheet" href="assets/app.css" />
    <!-- google icons  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body ng-app="starterApp" layout="column" ng-controller="UserController as ul">
    <md-toolbar layout="row" style="min-height: 64px;">
        <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()">
            <md-icon md-svg-icon="menu"></md-icon>
        </md-button>
        <h3>CV of Žygimantas Matonis</h3>
    </md-toolbar>
    <div flex layout="row">
        <md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" ng-click="ul.toggleList()" class="md-whiteframe-4dp">
            <md-list>
                <md-list-item ng-repeat="u in ul.users">
                    <md-button layout-fill style="text-align:left" ng-click="ul.selectUser(u)" href="#{{u.view}}" ng-class="{'selected' : u === ul.selected }">
                        <md-icon style="color:rgb(63,81,181);font:bold;" md-svg-icon="{{u.avatar}}" class="avatar "></md-icon>
                        <b>{{u.name}}</b>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-sidenav>
        <md-content flex id="content" style="overflow: scroll;">
            <!-- content from ng view -->
            <div ng-view></div>
        </md-content>
    </div>
    <script src="./node_modules/angular/angular.js"></script>
    <script src="./node_modules/angular-animate/angular-animate.js"></script>
    <script src="./node_modules/angular-aria/angular-aria.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js"></script>
    <script type="text/javascript" src="./node_modules/angular-material/angular-material.js"></script>
    <script src="./src/users/Users.js"></script>
    <script src="./src/users/UserController.js"></script>
    <script src="./src/users/UserService.js"></script>
    <!-- Include YT library and this directive -->
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="./node_modules/angular-youtube-embed/dist/angular-youtube-embed.min.js"></script>
    <!-- starterApp logic -->
    <script type="text/javascript">
    angular
        .module('starterApp', ['ngMaterial', 'ngRoute', 'users', 'youtube-embed'])
        .config(function($mdThemingProvider, $mdIconProvider, $routeProvider, $mdThemingProvider) {

            $mdThemingProvider.theme('default')
                .primaryPalette('indigo');
            // .accentPalette('red');

            $mdIconProvider
                .defaultIconSet("./assets/svg/avatars.svg", 128)
                .icon("menu", "./assets/svg/menu.svg", 24)
                .icon("share", "./assets/svg/share.svg", 24)
                .icon("google_plus", "./assets/svg/google_plus.svg", 512)
                .icon("hangouts", "./assets/svg/hangouts.svg", 512)
                .icon("twitter", "./assets/svg/twitter.svg", 512)
                .icon("phone", "./assets/svg/phone.svg", 512)

            .icon("personal", "./assets/svg/ic_person_pin_black_48px.svg", 128)
                .icon("work", "./assets/svg/ic_account_balance_black_48px.svg", 128)
                .icon("portfolio", "./assets/svg/ic_work_black_48px.svg", 128)
                .icon("github", "./assets/svg/Octicons-mark-github.svg", 1024);

            $mdThemingProvider.theme('dark-orange').backgroundPalette('orange').dark();
            $mdThemingProvider.theme('dark-grey').backgroundPalette('grey').dark();
            $mdThemingProvider.theme('dark-purple').backgroundPalette('deep-purple').dark();
            $mdThemingProvider.theme('dark-blue').backgroundPalette('blue').dark();

            $routeProvider
                .when("/", {
                    templateUrl: "src/pages/tp1.html",
                    controller: 'personal'
                })
                .when("/experience", {
                    templateUrl: "src/pages/tp2.html",
                    controller: 'experience'
                })
                .when("/portfolio", {
                    templateUrl: "src/pages/tp3.html",
                    controller: 'portfolio'
                });
                // .when("/why", {
                //     templateUrl: "src/pages/tp4.html",
                //     controller: 'motivation'
                // });
        })

    //TODO: needs to be exported
    .controller('portfolio', function($scope) {


        $scope.works = [{
            video: 'NI5HZ52f9LM',
            title: 'POV-Ray animation',
            content: ['A simple animation made using old photo rendering software.',
                'Technologies used: Git, POV-Ray.',
            ],
            github_link: 'https://github.com/gudrutis/MazeAnimationOnPovRay/tree/master/scene',
        }, {
            video: 'm9ubrVDgltU',
            title: 'nCursian - a simple terminal game',
            content: ['One of my first and simpliest work. Created in few weakends as a task for an Unix lecture.',
                'Technologies used: C, ncurses library.',
            ],
        }, {
            video: 'Wv-nk15wEBc',
            title: '\'Nameless\' robot project.',
            content: ['First serious team project. The goal was to create an autonomous robot capable of environment mapping. Though we did not reach our goals, we learn a lot of valuable lessons.',
                'Video shows one of many robot testing phases.',
                'Boards used: Raspberry Pi, Arduino Uno, a toy car.',
                'Technologies used: C, Python, ncurses library.',
            ],
            github_link: '',
        }, {
            title: 'This CV',
            content: ['I created this CV using AngularJS and Angular Material. Though far from perfect I believe this shows my will to learn.',
                'Technologies used: Git, AngularJS, Angular Material',
            ],
        }];
    })

    //TODO: needs to be exported
    .controller('experience', function($scope) {


        $scope.jobs = [{
            title:'Computer Programmer at NetCode',
            info: {
                'Period of work': 'January 1, 2017 - Present',
                'Company':'NetCode',
                'Place':'Vilnius, Lithuania',
                'Job description': 'Working as a prefesonal full-stack WEB developer using Spring Boot and AngularJS.',
            },
            img: './assets/jpeg/netcode.png'
        },{
            title:'Summer student at CERN',
            info: {
                'Period of work': 'June 27, 2016 - August 19, 2016',
                'Company':'CERN',
                'Place':'Switzerland',
                'Job description': 'As a student of CERN Summer Academy not only I learn about different topics related to physics and computer science, I also work with Transfer Monitoring project. Here I use Python, Spark and machine learning algorithms in order to analyse and make predictions on big data.',
                'Reason for leaving': 'End of contract.',
            },
            img: './assets/jpeg/cern.png'
        }, {
            title:'Computer Programmer at Barclays Technology Centre Lithuania',
            info: {
                'Period of work': 'March, 2015 - September, 2015',
                'Company':'BTCL',
                'Place':'Vilnius, Lithuania',
                'Job description': '6 months internship. During my stay, I worked with Big data technologies, Bash,SQL, Java/Scala and Python. Created a small website for internal use using Django framework.',
                'Reason for leaving': 'Decided to finish my Bachelor degree first.',
            },
            img: './assets/jpeg/barclays.jpg'
        }, {
            title:'Beach waiter at Sani Resort',
            info: {
                'Period of work': 'May, 2013 - September, 2013',
                'Company':'Sani Resort',
                'Place':'Greece',
                'Job description': 'My first working experience in an international team. Though unrelated to my current career as an IT specialist, this experience let me realize what I want to do with my life.',
                'Reason for leaving': 'End of contract.',
            },
            img: './assets/jpeg/sani_resort.jpg'
        }, ];
    })

    //TODO: needs to be exported
    .controller('personal', function($scope) {
        $scope.person_info = {
            Name: 'Žygimantas',
            Surname: 'Matonis',
            'Birth date': 'October 20, 1993',
            Sex: 'Male',
            Address: 'Vilnius, Lithuania',
            Phone: '+37062420749',
            'E-mail': 'mr.matonis(eta)gmail.com',
            'Level of education': 'Higher education in acquisition',

        };
        $scope.contacts = {
            Github: 'https://github.com/gudrutis/',
            LinkedIn: 'https://lt.linkedin.com/in/žygimantas-matonis-244b29109',
        };

        $scope.higher_education = {
            University: 'Vilnius University',
            Faculty: 'Faculty of Mathematics and Informatics',
            Degree: 'Bachelor',
            Major: 'Information Technologies',
            'Period of studies': ' September 1, 2013 - January 31, 2017',
            Description: 'This study program follows best practices of western universities and is practice-oriented',
        };
    })

    //TODO: needs to be exported
    .controller('motivation', function($scope) {

        $scope.reasons = [{
            label: 'one',
            title: 'I am about to finish my university',
            content: ['I am in my last semester at my university. Currently, the only task I am doing is writing my thesis. If I would be hired, I still be able to finish it on my free time and also finish my degree without sacrificing anything.',
            ],
        }, {
            label: 'two',
            title: 'I am an ex. summer student',
            content: ['This summer I was at CERN as a summer student. Though my stay was short, I know my way around the site and I am familiar with tools used such as OpenStack.cern.ch',
            ],
        }, {
            label: 'three',
            title: 'I am available right now and have time to prepare',
            content: ['As mention before, I do not have any serious commitment right now. If I would be considered as a serious candidate, I could start preparing for the position.'
            ],
        }, {
            label: 'four',
            title: 'I am a curious person',
            content: ['My interest ranges from website design to creating robots. Even though these fields look completely different, I find that a lot of knowledge is transferable.'
            ],
        }, ];
    });
    </script>
</body>

</html>
