<md-card>
    <md-card-content>
        <div layout="row">
            <div flex class='md-padding'>
                <table>
                    <col style="width:50%">
                    <col style="width:50%">
                    <caption>Personal info</caption>
                    <tr ng-repeat="(key, value) in person_info">
                        <th>{{key}}:</th>
                        <td>{{value}}</td>
                    </tr>
                </table>
            </div>
            <div class='app_img_cont md-padding'>
                <img ng-src="./assets/jpeg/me_photo.png" alt="Washed Out">
            </div>
        </div>
    </md-card-content>
</md-card>
<md-card>
    <md-card-content>
        <div layout="row">
            <div flex class='md-padding'>
                <table>
                    <col style="width:50%">
                    <col style="width:50%">
                    <caption>Higher education</caption>
                    <tr ng-repeat="(key, value) in higher_education">
                        <th>{{key}}:</th>
                        <td>{{value}}</td>
                    </tr>
                </table>
            </div>
            <div class='app_img_cont md-padding'>
                <img ng-src="./assets/jpeg/VU_logo.jpg" alt="Washed Out">
            </div>
        </div>
    </md-card-content>
</md-card>
