<md-content ng-repeat="work in works">
    <md-card>
        <!-- <img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out"> -->
        <youtube-video video-id="work.video" player-width="'100%'" player-height="'300'">></youtube-video>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{work.title}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-actions layout="row" layout-align="start center">
            <md-card-icon-actions ng-if="work.github_link">
                <md-button class="md-icon-button md-raised" aria-label="Share" href={{work.github_link}} target="_blank">
                    <md-icon md-svg-icon="github" style="color:black"></md-icon>
                </md-button>
            </md-card-icon-actions>
            <!-- <md-button>Action 1</md-button> -->
            <!-- <md-button>Action 2</md-button> -->
        </md-card-actions>
        <md-card-content>
            <p>
                {{work.content}}
            </p>
        </md-card-content>
    </md-card>
</md-content>
